<!-- sticky Bootstrap Header -->
<nav class="navbar fixed-top py-3 bg-custom-dark" data-bs-theme="dark"   >
    <div class="container-fluid d-flex justify-content-center">
        <div class="w-25 d-flex d-flex justify-content-evenly">
            <a class="fs-3 nav-link text-white text-center py-1 d-none d-lg-block" href="#">Start</a>
            <a class="fs-3 nav-link text-white text-center py-1 d-none d-lg-block" href="#">Contact</a>
            
            <a class="fs-3 nav-link text-white text-center py-1 d-none d-lg-block" href="#">Sign in</a>
        </div>
      

      
      
    </div>
    <div class="container-fluid d-flex justify-content-center d-block d-lg-none">
        <button class="navbar-toggler d-block d-lg-none mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="d-flex justify-content-start mt-lg-0 mt-2 w-100 d-block d-lg-none">
        <div class="collapse" id="navbarToggleExternalContent" >
            <div class=" p-4">
              <a href="" class="fs-4 nav-link text-start text-body-emphasis mb-2">Start</a>
              <a href="" class="fs-4 nav-link text-start text-body-emphasis mb-2">Contact</a>
              <a href=""  class="fs-4 nav-link text-start text-body-emphasis ">Sign in</a>
            </div>
            
          </div>
    </div>

</nav>
