{% load static %}

{% include 'technical/boilerplate_top.html' %}

<style>
    .parallax {
      /* The image used */
      
    
      /* Set a specific height */
      
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .background-image-1{
        background-image: url("{% static 'images/landing.webp' %}");
    }

    .background-image-2{
        background-image: url("{% static 'images/landing2.webp' %}");
    }

    </style>
<body>
    
    {% include 'technical/public-header.html' %}

    <!-- Main IMage as a background with parallax effect and a headline -->
    <div class="parallax background-image-1 position-relative d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <div class="w-100 py-5 position-absolute" style="background: rgba(33, 37, 41, 0.8); top: 25%;">
            <div>
                <h1 class="text-center text-white py-3">Game Master App</h1>
                <h2 class="text-center text-white px-5 px-lg-0 py-2">The open-source tool for intuitive Game Mastering</h2>
            </div>
        </div>
        
        <div class="mt-auto   ">
            <img class="shadow-lg " style="color:white !important; cursor: pointer;" id="scrollDownButton" src="{% static 'images/caret_double_down_white.svg' %}" height="150" width="150">
        </div>

        


    </div>
    
    

    <!--  -->
    <div class="bg-dark">
        <div class="container text-white py-5 ">
            <h2 class="text-center mb-4">Welcome to GM App</h2>
            <p class="text-justify mx-2">GM App is your ultimate companion for running immersive and dynamic pen-and-paper RPG sessions. Designed for Game Masters, it helps you react intuitively and creatively to unexpected events, ensuring every session feels seamless and engaging. With GM App, you can generate encounters, improvise NPCs, and adapt the storyline on the fly—making spontaneous moments more exciting and effortless. Whether you're managing combat, crafting side quests, or handling unpredictable player actions, this app keeps you prepared without breaking immersion.</p>
            <p class="text-justify mx-2">No matter your experience level, GM App empowers you to run smooth and captivating games with minimal preparation. Stay in control, fuel your creativity, and enhance your storytelling—all in one intuitive tool.</p>
            <p class="text-justify mx-2">Stay flexible, stay creative, and bring your world to life!</p>
            
        </div>
    </div>
    <div class="">
        <div class="container  py-5">
            <h2 class="text-center">Welcome to GM App</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est eu
        </div>
    </div>

    <div class="parallax mb-5 background-image-2 position-relative d-flex justify-content-center" style="min-height: 100vh;">
        <div class="w-100 py-2 mb-5 mb-lg-0 py-lg-5 y-4 position-absolute" style="background: rgba(33, 37, 41, 0.8); top: 25%;">
            <div>
                <h1 class="text-center text-white py-3">Stay up to date</h1>
                <h2 class="text-center text-white px-5 px-lg-0 py-2">Sign up for our the newsletter</h2>
            </div>
            <form class="container">
                <div class="  row">
                    <div class="col-12 col-md-6 mx-auto mt-md-0 mt-3">
                        <label for="firstnameinput" class="form-label text-white">First Name</label>
                        <input type="text" class="form-control text-white bg-dark" id="firstnameinput" placeholder="name@example.com">
                    </div>

                    <div class="col-12 col-md-6 mx-auto mt-md-0 mt-3">
                        <label for="exampleFormControlInput1" class="form-label text-white">Email address</label>
                        <input type="email" class="form-control text-white bg-dark" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    
                    <div class="mt-3 mx-auto  ps-4 d-flex align-items-center">
                        
                        <input style="transform: scale(2);" type="checkbox" class="col-2 form-check-input bg-dark " id="exampleFormControlInput1" placeholder=""  required>
                        
                        
                        <label for="exampleFormControlInput1" class="col-10 form-label text-white ms-4 pt-2">I want to receive the Newsletter. I understand that I can revoke my consent at any time.</label>
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="btn btn-dark fw-bold border-white">Subscribe</button>
                    </div>

                    


                </div>
            </form>

        </div>
    </div>

    

<footer class="footer fixed-bottom mt-auto py-3 bg-dark"  data-bs-theme="dark">
    <div class="container">
        <div class="d-flex justify-content-start">
            <button type="button" class="btn btn-dark border-white mx-2">English</button>
            <button type="button" class="btn btn-dark mx-2">Deutsch</button>
        </div>
    </div>
</footer>

<script>
    document.getElementById('scrollDownButton').addEventListener('click', function() {
        window.scrollTo({
            top: document.querySelector('.bg-dark').offsetTop - 125, // Adjust the offset value as needed
            behavior: 'smooth'
        });
    });
</script>

{% include 'technical/boilerplate_bottom.html' %}
